dynatrace:
  environments:
    - name: E2E-PLATFORM-TOKEN
      url: ${TENANT_APP_URL}
      platformToken: ${PLATFORM_TOKEN}
  queries:
    - id: davis-events
      query: |
        data record(timestamp=now(), testId="dynatrace-e2e-fixed-test-id")
auth:
  providers:
    guest: {}
