name: CI
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    env:
      TENANT_API_URL: ${{ secrets.TENANT_API_URL }}
      TENANT_APP_URL: ${{ secrets.TENANT_APP_URL }}
      INGEST_TOKEN: ${{ secrets.INGEST_TOKEN }}
      PLATFORM_TOKEN: ${{ secrets.PLATFORM_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint:all

      - name: Compile TypeScript
        run: yarn tsc:full

      - name: Run Tests
        run: yarn test:all

      - name: Create UUID for e2e test runs
        run: echo "RUN_UUID=$(uuidgen)" >> $GITHUB_ENV

      - name: Generate yaml from template
        run: envsubst < e2e/app-config.local.template > app-config.local

      - name: Ingest events
        run: node e2e/ingestEvents.js

      - name: Typecheck e2e
        run: yarn tsc:e2e  

      - name: Install Playwright Browsers
        run: yarn playwright install chromium firefox --with-deps

      - name: Run Playwright tests
        run: yarn e2e

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30  

      - name: Run Audit
        run: yarn audit --level high || true
